footer{
    border: solid 5px #CC00AA
}


body{
    background-color: rgb(76, 113, 116);
    color:black;
}
main{
    background-color: rgb(190, 200, 201);
}
nav{
    border: 2px red;
}
img{
    margin: 20px;
    padding:10px;
    border-top-right-radius: 30px;
    border: 10px black;
}


h1{
    border: 10px solid rgb(76, 113, 116);
    color: rgb(76, 113, 116);
    font-weight: 700;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: underline;
    background-color: aliceblue;
}

h2{
    text-decoration: underline;
    font-weight: 700;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

h3{
    font-weight: 700;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

li{
    list-style: square;
}

#navigation{
    display: inline-block;
    height: 50px;
}

p{
    line-height: 20px;
}

a{
    background-color:  rgb(190, 200, 201);
    padding: 10px;
    margin: 20px;
    text-align: underline;
    margin-left: 50px;
    ;
}

#jump{
    text-transform: uppercase;
}

.petsdiv{
    text-align: center;
    border: blue;
    border-width: 2px;
    border-style:solid;
    text-align: center;
}

.thumbnail{
    border: #CC00AA;
    border-radius: 5cm;
}
